Source: webengine-workflow
Section: misc
Priority: optional
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Bryann Lamour <bryann.lamour@smartjog.com>, Rémi Cardona <remi.cardona@smartjog.com>, Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>
Build-Depends: debhelper (>= 7.0.15), cdbs (>= 0.4.52), python-central (>= 0.6), txt2tags
XS-Python-Version: >= 2.5
Standards-Version: 3.9.2

Package: webengine-workflow
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, webengine (>= 0.14), libjs-backbone (>= 0.3.3), libjs-jquery-ui (>= 1.7), sjwebkit (>= 1.1.3+svn1975)
XB-Python-Version: ${python:Versions}
Description: Plugin workflow for WebEngine
 Workflow page, useful to manage RVP
