<div id='administration-cell'>
  <a title='Rename item' onclick="renameItem($(this).parents('tr')); return false;" href=''>
    <img src='/sjwebkit/common/images/famfamfam_icons/pencil.png' alt='Rename'/>
  </a>
  <a title='Delete item' onclick="deleteItem($(this).parents('tr')); return false;" href=''>
    <img src='/medias/workflow/img/untake.png' alt='Delete'/>
  </a>
</div>

<div id='rename_delete_category'>
  <a title='Rename category' onclick="renameCategory($(this).parents('tr')); return false;" href=''>
    <img src='/sjwebkit/common/images/famfamfam_icons/pencil.png' alt='Rename'/>
  </a>
  <a title='Delete category' onclick="deleteCategory($(this).parents('tr')); return false;" href=''>
    <img src='/medias/workflow/img/untake.png' alt='Delete'/>
  </a>
</div>

<div id='create_box'>
  <a title='Create item' onclick='' class='workflow_management'>Create item</a>
  <a title='Create category' onclick='' class='workflow_management'>Create category</a>
</div>

<div id='dialog-box'>
  <div id='dialog-rename-item' title='Rename item' class='hidden'>
    <p></p>
    <form onsubmit='return false;'>
      <label>New name: <input type='text' name='new_name' /></label><br/>
    </form>
  </div>
  <div id='dialog-rename-category' title='Rename category' class='hidden'>
    <p></p>
    <form>
      <label>New name: <input type='text' name='new_name' /></label><br/>
    </form>
  </div>
  <div id='dialog-delete-item' title='Delete item' class='hidden'>
    <p></p>
  </div>
  <div id='dialog-delete-category' title='Delete Category' class='hidden'>
    <p></p>
  </div>
</div>
