{% extends "workflow/base.html" %}

{% block title %}Workflow Management{% endblock %}
{% block pagetitle %}Workflow Management{% endblock %}

{% block optional_js %}
<script src='/javascript/jquery-ui/jquery-ui.min.js' type='text/javascript'></script>
<script>
function deleteWorkflow(workflowId) {
    $('#dialog-delete-workflow').addClass('visibile').removeClass('hidden');
    instanceLabel = $('li#instance-' + workflowId + ' a:first-child').html();
    var message = 'This action is irrecoverable !<br />Are you sure to delete <b>' + instanceLabel + '</b> ?';
    $('#dialog-delete-workflow').find('p').html(message);
    $('#dialog-delete-workflow').dialog({
        resizable : false,
        modal     : true,
        buttons   : {
            'Delete workflow': function() {
                $(this).find('p').html('Processing...');
                window.location.pathname = '/workflow/delete/' + workflowId;
            },
            'Cancel': function() {
                $(this).dialog('close');
            }
        }
    });
}

function copyWorkflow(workflowId) {
    var dialog = $('#dialog-copy-workflow');
    dialog.addClass('visibile').removeClass('hidden');
    var instanceLabel = $('li#instance-' + workflowId + ' a:first-child').html();
    var message = instanceLabel + '_copy';
    dialog.find('input').attr('value', message);
    dialog.dialog({
        open      : function() { dialog.find('input[type=text]').focus(); },
        title     : 'Copy workflow ' + instanceLabel,
        resizable : true,
        modal     : true,
        width     : 500,
        buttons   : {
            'Copy': function() {
                if (dialog.find('input[type=text]').attr('value')) {
                    dialog.find('p').html('Processing...');
                    dialog.find('form').hide();
                    $.post(
                        '/workflow/copy/',
                        dialog.find('form').serialize() + '&workflow_id=' + workflowId,
                        function () { window.location.reload(); }
                    );
                }
            },
            'Cancel': function() { dialog.dialog('close'); }
        }
    });
}

function renameWorkflow(workflowId) {
    var dialog = $('#dialog-rename-workflow');
    dialog.addClass('visibile').removeClass('hidden');
    instanceLabel = $('li#instance-' + workflowId + ' a:first-child').html();
    var message = 'Current workflow name is: <b>' + instanceLabel + '</b><br /><br />';
    dialog.find('p').html(message);
    dialog.find('input').attr('value', instanceLabel);
    dialog.dialog({
        open      : function() { dialog.find('input').focus(); },
        resizable : true,
        modal     : true,
        width     : 500,
        buttons   : {
            'Rename': function() {
                if (dialog.find('input[type=text]').attr('value')) {
                    dialog.find('p').html('Processing...');
                    dialog.find('form').hide();
                    $.post(
                        '/workflow/rename/',
                        dialog.find('form').serialize() + '&workflow_id=' + workflowId,
                        function () { window.location.reload(); }
                    );
                }
            },
            'Cancel': function() { dialog.dialog('close'); }
        }
    });
}

function createWorkflow() {
    if ($('select option:selected').attr('id') === 'new_section') {
        $('label#new_section_name').addClass('visible').removeClass('hidden');
    }
    $('#dialog-create-workflow').attr('class', 'visibile');
    $('#dialog-create-workflow').dialog({
        resizable : false,
        modal     : true,
        buttons   : {
            'Create': function() {
                $(this).find('p').html('Processing...');
                $(this).find('form').hide();
                if ($(this).find('input#new_workflow_name').attr('value')) {
                    $.post(
                        '/workflow/create/',
                        $(this).find('form').serialize(),
                        function () {
                            window.location.reload();
                        }
                    );
                }
            },
            'Cancel': function() {
                $(this).dialog('close');
            }
        }
    });
}

$(function () {
    $('select[name=section]').click(function () {
        if ($('select option:selected').attr('id') === 'new_section') {
            $('label#new_section_name').addClass('visible').removeClass('hidden');
        } else {
            $('label#new_section_name').addClass('hidden').removeClass('visible');
        }
    });

    $('label#new_section_name input').removeAttr('value');
});
</script>
{% endblock %}

{% block content %}
<div class="fullclass" id='workflow_management'>
    {% for section in workflow_sections %}
      {% if section.instances|length %}
        <h2>{{ section.label }}</h2>
        <ul>
        {% for instance in section.instances %}
        <li class='highlight {% if forloop.counter|divisibleby:2 %}{% else %}odd_line{% endif %}' id='instance-{{ instance.id }}'>
          <a href='{% url workflow instance.id %}'>{{ instance.label }}</a>
          <span class='action_buttons'>
            <a onclick='renameWorkflow({{ instance.id }});' title='Rename Workflow'>
              <img src='/sjwebkit/common/images/famfamfam_icons/pencil.png' alt='Rename'/>
            </a>
            <a onclick='copyWorkflow({{ instance.id }});' title='Copy Workflow'>
              <img src='/sjwebkit/common/images/famfamfam_icons/layers.png' alt='Rename'/>
            </a>
            <a onclick='deleteWorkflow({{ instance.id }});' title='Delete Workflow'>
              <img src='/medias/workflow/img/untake.png' class='untake' alt='Delete'/>
            </a>
          </span>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  <br />
  <a onclick='createWorkflow();' title='Create Workflow' class='workflow_management'>Create Workflow</a>
</div>

<div id='dialog-delete-workflow' title='Delete workflow' class='hidden'>
  <p></p>
</div>
<div id='dialog-copy-workflow' title='Copy workflow' class='hidden'>
  <p></p>
  <form onsubmit='return false;'>
    Name: <input type='text' name='label' style='width: 100%;'/><br/><br />
    <label><input type='checkbox' name='reset_validation' /> Reset validation</label><br />
    <label><input type='checkbox' name='reset_owner' /> Reset owner</label><br />
    <label><input type='checkbox' name='reset_comments' /> Reset comments</label><br />
  </form>
</div>
<div id='dialog-rename-workflow' title='Rename workflow' class='hidden'>
  <p></p>
  <form onsubmit='return false;'>
    <label>New name: <input type='text' name='new_name' style='width: 100%;'/></label><br/>
  </form>
</div>
<div id='dialog-create-workflow' title='Create workflow' class='hidden'>
  <p></p>
  <form onsubmit='return false;'>
    <label>Section <select name='section'>
      {% for section in workflow_sections %}
      <option>{{ section.label }}</option>
      {% endfor %}
      <option id='new_section'>New section ...</option>
    </select></label><br/><br/>
    <label class='hidden' id='new_section_name'>New section name<br/><input type='text' name='new_section'></label><br/>
    <label>New workflow name<br/><input type='text' name='new_name' id='new_workflow_name'/></label>
  </form>
</div>
{% endblock content %}
