{% extends "workflow/base.html" %}

{% block title %}Workflow Management{% endblock %}
{% block pagetitle %}Workflow Management{% endblock %}

{% block optional_js %}
<script src='/javascript/jquery-ui/jquery-ui.min.js' type='text/javascript'></script>
<script>
function deleteWorkflow(workflowId) {
    $('#dialog-delete-workflow').addClass('visibile').removeClass('hidden');
    instanceLabel = $('li#instance-' + workflowId + ' a:first-child').html();
    var message = 'This action is irrecoverable !<br />Are you sure to delete <b>' + instanceLabel + '</b> ?';
    $('#dialog-delete-workflow').find('p').html(message);
    $('#dialog-delete-workflow').dialog({
        resizable : false,
        modal     : true,
        buttons   : {
            'Delete workflow': function() {
                $(this).find('p').html('Processing...');
                window.location.pathname = '/workflow/delete/' + workflowId;
            },
            'Cancel': function() {
                $(this).dialog('close');
            }
        }
    });
}
</script>
{% endblock %}

{% block content %}
<div class="fullclass" id='workflow_management'>
    {% for section in workflow_sections %}
      {% if section.instances|length %}
        <h2>{{ section.label }}</h2>
        <ul>
        {% for instance in section.instances %}
        <li class='highlight {% if forloop.counter|divisibleby:2 %}{% else %}odd_line{% endif %}' id='instance-{{ instance.id }}'>
          <a href='{% url workflow instance.id %}'>{{ instance.label }}</a>
          <span class='action_buttons'>
            <a onclick='deleteWorkflow({{ instance.id }});' title='Delete Workflow'>
              <img src='/medias/workflow/img/untake.png' class='untake' alt='Delete'/>
            </a>
          </span>
        </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
</div>

<div id='dialog-delete-workflow' title='Delete workflow' class='hidden'>
  <p></p>
</div>
{% endblock content %}
