{% extends "workflow/base.html" %}

{% block title %}Create item{% endblock %}

{% block content %}
<div class="fullpage">

    <div class="idcard idtitle">Workflow creation</div>

    {% ifequal status "NEW" %}
        <div>
            <form action={% url workflow-item-new %} method=POST>

            <table>
                <tr><td> {{ form.category.label }} </td><td> {{ form.category }} </td></tr>
                <tr><td> {{ form.items.label }} </td><td> {{ form.items }} </td></tr>
            </table>

            <input type=submit title="Create"></input>
            </form>
        </div>
    {% endifequal %}

    {% ifequal status "OK" %}
        <div>
            <span> Items created </span>
        </div>
    {% endifequal %}

    {% ifequal status "KO" %}
        <div>
            <span> Items not created : {{ error }} </span>
        </div>
    {% endifequal %}


</div>
{% endblock content %}
