{% extends "workflow/base.html" %}


{% block title %}Workflow List{% endblock %}

{% block content %}
<div class="fullpage">

    <div class="idcard idtitle">Workflows list</div>
    <ul>
    {% for workflow in workflows %}
        <h2> {{ workflow.label }} </h2>
        {% for workflowinstance in workflow.workflowinstances %}
            <li>
            <a href={% url workflow-workflowinstance-show workflowinstance.id display.all %}>{{ workflowinstance.label }} </a> <a href={% url workflow-workflowinstance-delete workflowinstance.id %}> <img src="/medias/workflow/img/untake.png" class="untake"/> </a> 

            </li>
        {% endfor %}
    {% endfor %}
    </ul>

</div>
{% endblock content %}
