/* Global */

a {
    line-height: 10px;
    font-size: 11px;
    color: black;
    text-decoration: none;
}

div.fullpage {
    margin: 10px;
    padding: 3px;
    padding-left: 22px;
    font-size: 11px;
}

/* **** */

/* For workflow instance page */

pre.details_item, pre.comments_item {
    padding: 10px;
}

div.one_comment {
    margin: 10px;
    margin-bottom: 20px;
    background-color: #ddd;
}

.one_comment span#ancre_comment a {
    color: #0066dd;
}

.add_details {
    margin-bottom: 20px;
    display: none;
}

.add_details h2, .add_comment h2 {
    font-size: larger;
    border-top: 1px solid black;
    padding-top: 3px;
}

.add_comment {
    margin-bottom: 20px;
}

div.title_detail_item {
    height: 20px;
    width: auto;
    position: relative;
    text-align: center;
    padding-top: 3px;
}

.progress_workflow {
    height: 75px;
    padding: 10px;
    margin: 10px;
}

.progress_bar_stats {
    margin: 20px;
    text-align: center;
}

.progress_bar_stats ul,li {
    display: inline;
}

.progress_bar_stats span {
    background-color: #73d216;
    width: 11px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

.progress_bar_stats span#stats-success {
    background-color: #73bd5a;
}

.progress_bar_stats span#stats-failed {
    background-color: #dc5555;
}

.progress_bar_stats span#stats-unsolved {
    background-color: #babdb6;
}

.filters_workflow {
   height: 10px;
   text-align: center;
   margin-bottom: 20px;
}

.filters_workflow label {
    padding: 3px;
}

.category_workflow {
    text-decoration: bold;
    border-top: 1px solid gray;
    color: black;
    margin-bottom: 25px;
    width: 100%;
}

.category_workflow th {
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
}

.category_workflow a.label_item {
    width: 70%;
    padding-left: 10px;
}

.category_workflow td.take_untake_group {
    text-align: center;
}

.category_workflow td.take-item {
    width: 20%;
    text-align: center;
}

.category_workflow td.untake-item {
    width: 20%;
    text-align: center;
}

table.item_table td.validation-cell {
    width: 10%;
    text-align: center;
}

table.item_table td.validation-cell a span {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

table.item_table td.validation-cell a.validation-disabled-None span {
    color: #babdb6;
}

.urls {
    color: blue;
    font-weight: bold;
}

.urls:hover {
    text-decoration: underline;
}

a.label_item:hover {
    text-decoration: underline;
}

table tr.odd_line {
    background-color: #ddd;
    padding-left: 50px;
}

table tr.highlight:hover {
    background: #BFD4FF;
}

div.detail_on_item {
    border: 1px solid grey;
    padding: 10px;
}

pre.details_item, pre.comments_item {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

pre.details_item {
    background-color: #ddd;
}

textarea.textarea_edit_detail, textarea.textarea_add_comment {
    margin-bottom: 10px;
}

li {
    line-height: 18px;
    margin-left: 7px;
    padding-left: 18px;
    cursor: pointer;
    list-style: none;
}
