div.categories_table_workflow {
    counter-reset: category_title;
}

table.category_workflow {
    counter-reset: item_title;
}

table.category_workflow th:before {
    content: counter(category_title) " - ";
    counter-increment: category_title;
}

table.item_table a.label_item:before {
    content: counter(item_title) " - ";
    counter-increment: item_title;
}

/* Global */

a {
    line-height: 10px;
    font-size: 11px;
    color: black;
    text-decoration: none;
}

div.fullpage {
    margin: 10px;
    padding: 3px;
    padding-left: 22px;
    font-size: 11px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.lock {
    background-color: #babdb6;
}

/* **** */

/* Index */

div.workflow_list h2 {
    display: inline;
}

div.workflow_list a {
    cursor: pointer;
}

h2.workflow_management, h2#copy_options {
   font-variant: small-caps;
   text-decoration: underline;
}

div#workflow_management ul {
    width: auto;
    padding: 10px;
    position: relative;
}

div#workflow_management li.odd_line {
    background-color: #ddd;
}

div#workflow_management li.highlight:hover {
    background: #BFD4FF;
}

span.action_buttons {
    position: absolute;
    right: 0;
    padding-right: 10px;
    margin: 2px;
}

span.action_buttons a:hover {
    cursor: pointer;
    text-decoration: none;
}

span.workflow_progress {
    position: absolute;
    left: 0;
}

a.workflow_management {
    cursor: pointer;
    font-variant: small-caps;
    text-decoration: underline;
}
/* **** */

/* Admin */

div#switch-to-admin, div#switch-to-user {
    text-align: center;
}

div#admin_box {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
}

/* **** */

/* For workflow instance page */

td                      a.validation-enabled,
td.item-validation-OK   a.validation-OK,
td.item-validation-KO   a.validation-KO,
td.item-validation-None a.validation-None {
   display: none;
}

td.item-validation-OK   a.validation-OK.validation-enabled,
td.item-validation-KO   a.validation-KO.validation-enabled,
td.item-validation-None a.validation-None.validation-enabled {
   display: inline;
}

td.is-taken a.untake {
    display: none;
}

td.is-untaken a.take {
    display: none;
}

div.one_comment {
    margin: 10px;
    margin-bottom: 20px;
}

div.one_comment p {
    font-family: monospace;
    border-left: 1px dotted;
    padding-left: 15px;
    margin-left: 15px;
}

.one_comment a.ancre_comment {
    color: #0066dd;
}

.add_details {
    margin-bottom: 20px;
    display: none;
}

.add_comment {
    margin-bottom: 20px;
}

.progress_workflow {
    height: 75px;
    padding: 10px;
    margin: 10px;
}

.progress_bar_stats {
    margin: 20px;
    text-align: center;
}

.progress_bar_stats li {
    display: inline;
}

.progress_bar_stats span {
    background-color: #73d216;
    width: 11px;
    height: 10px;
    border: 1px solid black;
    display: inline-block;
}

.progress_bar_stats span#stats-success {
    background-color: #73bd5a;
}

.progress_bar_stats span#stats-failed {
    background-color: #dc5555;
}

.progress_bar_stats span#stats-unsolved {
    background-color: #babdb6;
}

.filters_workflow {
   height: 10px;
   text-align: center;
   margin-bottom: 20px;
}

.filters_workflow label {
    padding: 3px;
}

input:checked + span {
    font-weight: bold;
}

.disabled {
    color: #babdb6;
}

.disabled a {
    pointer-events: none;
    cursor: default;
    color: #babdb6;
}

.category_workflow {
    text-decoration: bold;
    border-top: 1px solid gray;
    color: black;
    margin-bottom: 25px;
    width: 100%;
}

.category_workflow th {
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    width: 70%;
}

.item_table {
    width: 100%;
}

table.item_table a.label_item {
    width: 70%;
    padding-left: 10px;
}

td.take_untake_group {
    text-align: center;
    width: 20%;
}

table.item_table td.take-item {
    width: 20%;
    text-align: center;
}

table.item_table td.untake-item {
    width: 20%;
    text-align: center;
}

table.item_table td.validation-cell {
    width: 10%;
    text-align: center;
}

table.item_table td.validation-cell a span {
    font-weight: bold;
    font-size: 20px;
    color: black;
}

table.item_table td.validation-cell a.validation-None.validation-disabled span {
    color: #babdb6;
}

input[type='button'] {
    width: 25%;
}

.urls {
    color: blue;
    font-weight: bold;
}

.urls:hover {
    text-decoration: underline;
}

a.label_item:hover {
    text-decoration: underline;
}

table tr.odd_line {
    background-color: #ddd;
    padding-left: 50px;
}

table tr.highlight:hover {
    background: #BFD4FF;
}

div.detail_on_item {
    padding: 10px;
}

div.detail_on_item h2 {
    margin-bottom: 5px;
    display: inline;
}

p.details_item, div.comments_item {
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    font-family: monospace;
}

p.details_item {
    border-left: 1px dotted;
}

span.show_comments, p.add_comment {
    color: blue;
    cursor: pointer;
    font-size: x-small;
}

span.show_comments {
    margin-left: 10px;
}

span.show_comments:hover, p.add_comment:hover {
    text-decoration: underline;
}

textarea.textarea_edit_detail, textarea.textarea_add_comment {
    margin-bottom: 10px;
}

li {
    line-height: 18px;
    margin-left: 15px;
    padding-left: 5px;
    list-style: none;
}

li a:hover {
    text-decoration: underline;
}

div.all_for_detail input.edit_details {
    width: 30px;
    margin-bottom: 10px;
}

div.add_details h2 {
    display: block;
}
